comparison-temporal-scales.nb
20160712.ipynb
Kc_data_WFDEI_2012_k_i.txt
playground.ipynb
test-comparison.nb
test-interpolation.nb
WFDEI Interpolator pandas.ipynb
WFDEI_2012.txt
WFDEI_2012.txt.SAVE
WFDEI_2012_30min.txt
WFDEI_2012_60min.txt
WFDEI_Interpolator_tstep.py
*.pyc
